## Residual matlab documents
*.asv
*.mat

## Figures
*.eps
*.fig

## SetPaths so it can localized
SetPaths.m

## Folders with results and matfiles
Outputs/
variables/
OutputsTest/

##Unused Matlab Files
Unused/